* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
	font-family: "Varela";
	font-weight: 200;
}

h1 {
	font-size: 3rem;
	letter-spacing: 2px;
	font-family: "Bangers", system-ui;
	font-weight: 400;
	font-style: normal;
	background: linear-gradient(to right, rgb(241, 46, 192) 0%, rgb(17, 97, 121) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

p {
	font-size: 1.2rem;
	line-height: 1.6;
}

header {
    margin: 2rem;
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
	justify-content: space-evenly;
	gap: 4rem;
}

.logo {
	height: 3rem;
	width: 3rem;
	transition: transform 0.3s ease;
}

.logo:hover {
	transform: scale(1.1);
}

.btn {
	padding: 10px 20px;
	border-radius: 8px;
	background-color: white;
	border: 1px solid black;
	font-size: 1rem;
}

.btn:hover {
	background-color: rgb(110, 69, 138);
	border: 1px solid black;
	color: #f2f2f2;
}

.start-section {
    display: flex;
    flex-direction: column;
    align-items: center;
	margin-top: 3rem;
	gap: 1rem;
}

input {
	padding: 10px;
	border-radius: 8px;
	border: 1px solid #ccc;
	font-size: 1rem;
	margin-right: 10px;
}

input:focus {
	outline: none;
	border-color: rgb(110, 69, 138);
}

.game-board {
    display: grid;
    grid-template-columns: repeat(4, 120px);
    grid-template-rows: repeat(4, 120px);
    gap: 1rem;
    margin-bottom: 40px;
}


.card {
    border-radius: 10px;
    cursor: pointer;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
}

.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.card.flipped .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.card-front {
    background: linear-gradient(50deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.card-back {
    transform: rotateY(180deg);
    background: #f4eeee;
    border: 1px solid black;
}

.card img {
    width: 70%;
    height: 70%;
    object-fit: contain;
}

.game-info {
    display: flex;
    gap: 4rem;
    font-size: 1.2rem;
}

.info-box {
    background: white;
    padding: 10px 20px;
    border-radius: 8px;
    min-width: 100px;
    text-align: center;
}
.end-screen {
	border: 1px solid black;
	border-radius: 10px;
	background-color: white;
	padding: 2rem;
	margin: 2rem;
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}


.hidden {
    display: none;
}